<% title "Players" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for player in @players %>
    <tr>
      <td><%= image_tag player.level_image_url %></td>
      <td><%=h player.name %></td>
      <% if player.has_statistics? %>
        <td><%= link_to "Show stats", player_statistics_path(player) %></td>
      <% else %>
        <td>No stats yet</td>
      <% end %>
    </tr>
  <% end %>
</table>

